.detail-page

    padding 20px
    background-color rgb(0, 159, 147)
    text-align center

    >h3
        margin 20px 10px
        font-size 24px
        color #fff

    >p
        color #666

    >a
        display block
        margin 20px
        text-decoration none
        color #eee
