@require 'nib';

global-reset();

body
    font-family 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;



#app
    width 980px
    box-sizing border-box
    padding 10px 20px
    margin 0 auto

@require './index/index.styl'
@require './detail/index.styl'
